.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

div.command-list {
	color: white;
	padding-left: 10px;
	font-size: calc(4px + 2vmin);
	max-width: 550px;
}

div.command-list ul {
	text-align: left;
}

button.options-button {
	padding: 0.5rem;
	border-radius: 12.5px;
	border: 3px solid #003a63;
	margin: 3px;
	color: white;
	background-color: #2a6ebb;
}

div.react-chatbot-kit-chat-bot-message {
	background-color: #003a63 !important;
}

div.react-chatbot-kit-chat-bot-message-arrow {
	border-right-color: #003a63 !important;
}

button.react-chatbot-kit-chat-btn-send {
	background-color: #003a63 !important;
}

div.react-chatbot-kit-user-avatar-container {
	background-color: #003a63 !important;
	border: 3px solid #e51937;
}

div.react-chatbot-kit-chat-bot-avatar-container {
	color: #5f6062;
	border: 3px solid #003a63;
}
